.env

 __pycache__/
RunLog/__pycache__/*


 *.pyc
RunLog/__pycache__/settings.cpython-38.pyc
RunLog/__pycache__/settings.cpython-38.pyc
RunLog/__pycache__/models.cpython-38.pyc
RunLog/__pycache__/settings.cpython-38.pyc
RunLog/__pycache__/urls.cpython-38.pyc
RunLog/__pycache__/views.cpython-38.pyc

