{% extends 'base.html' %}

{% block title %}Run Log{% endblock title %}

{% block content %}

<div>
    <h3>All Runs Before {% now 'Y' %}</h3>
    <br />
    <table class="table table-sm">
        <thead class="thead-dark rounded" style="background-color: #FCEDDA">
            <tr>
                <th style="width: 12.5%">Date</th>
                <th style="width: 10%">Time</th>
                <th style="width: 12.5%">Distance (km)</th>
                <th style="width: 12.5%">Pace (time/km)</th>
                <th style="width: 10%">BPM</th>
                <th style="width: 40%">Remarks</th>
                <th style="background-color:#FDFEFE; border:none"></th>
                <th style="background-color:#FDFEFE; border:none"></th>
            </tr>
        </thead>
        <tbody>          
            {% for x in dataArchiveLog %}
            <tr>
                <td>{{x.run_date}}</td>
                <td>{{x.run_time}}</td>
                <td>{{x.distance}}</td>
                <td>{{x.pace}}</td>
                <td>{{x.bpm}}</td>
                <td>{{x.remarks}}</td>
                <td style="background-color:#FDFEFE; border:none">
                    <a href="edit/{{x.id}}">
                        <i title="Edit" style="color: green;" class="fas fa-solid fa-pen-to-square"></i>
                    </a>
                </td>
                <td style="background-color:#FDFEFE; border:none">
                    <a href="show/{{x.id}}">
                        <i title="Delete" style="color: red;" class="fas fa-solid fa-trash-can"></i></a>
                </td>
                <td style="display:none">{{x.yr}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
</div>

{% endblock content %}