{% extends 'base.html' %}

{% block title %}Run Log - Charts{% endblock title %}

{% block content %}

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% load static %}
<link ref="stylesheet" type="text/css" href="{% static 'RunLog/styles.css' %}"/>
<h3>Charts for {% now 'Y' %}</h3>

<div class="container">
  <br />
  <ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="#a" data-toggle="tab">BPM</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#b" data-toggle="tab">Pace</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#c" data-toggle="tab">Distance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#d" data-toggle="tab">Combined</a>
    </li>
 </ul>
 
 <div class="tab-content">
    <div class="tab-pane active" id="a">
      <br />
      <h4>BPM</h4>
      <br/>
      <canvas id="bpmChart" data-url="{% url 'bpmChart' %}" style="height:7vw;width:20vw"></canvas>
     </div>
    <div class="tab-pane" id="b">
      <br />
      <h4>Pace</h4>
      <br/>
      <canvas id="paceChart" data-url="{% url 'paceChart' %}" style="height:7vw;width:20vw"></canvas>
    </div>
    <div class="tab-pane" id="c">
      <br />
      <h4>Distance</h4>
      <br/>
      {% for x in data %}
      <p>Average: {{ data.average }}</p>
      {% endfor %}
     <canvas id="distanceChart" data-url="{% url 'distanceChart' %}" style="height:7vw;width:20vw"></canvas>
    </div>
    <div class="tab-pane" id="d">
      <br />
      <h4>Combined</h4>
      <br/>
     <canvas id="combinedChart" data-url="{% url 'combinedChart' %}" style="height:7vw;width:20vw"></canvas>
    </div>
 </div>
</div>


<script>
  // BPM chart
  $(function () {

    var $bpmChart = $("#bpmChart");
    $.ajax({
      url: $bpmChart.data("url"),
      success: function (data) {

        var ctx = $bpmChart[0].getContext("2d");
        var minBpmChart = parseInt((Math.min(...data.data)) / 10, 10) * 10;
        var maxBpmChart = parseInt((Math.max(...data.data)) / 10, 10 + 1) * 10;

        new Chart(ctx, {
          type: 'line',
          data: {
            labels: data.labels,
            datasets: [{
              label: 'Average BPM',
              fill: false,
              data: data.data,
              borderColor: "blue"
            }]          
          },
          options: {
            responsive: true,
            legend: {
              position: 'top',
              display: false
            },
            title: {
              display: false,
              text: 'Average BPM'
            },
            scales: {
                yAxes: [{
                  ticks:{
                    min: minBpmChart,
                    max: maxBpmChart,
                      }
                    }],
                xAxes: {
                  type: "time",
                  time: {
                    // Luxon format string
                    tooltipFormat: 'DD T'
                    },
              }
            }
          }
        });
      }
    });
});

//Distance chart
$(function () {

var $distanceChart = $("#distanceChart");
$.ajax({
    url: $distanceChart.data("url"),
    success: function (data) {

    var ctx = $distanceChart[0].getContext("2d");
    var maxDistanceChart = (parseInt((Math.max(...data.data)) / 10, 10) + 1) * 10;

    new Chart(ctx, {
    type: 'bar',
    data: {
        labels: data.labels,
        datasets: [{
            label: 'Distance',
            fill: true,
            data: data.data,
            borderColor: "red",
            borderRadius: '50px',
            backgroundColor: "orange"
        }]          
    },
    options: {
      tooltips:{
            callbacks:{
              label: function(tooltipItem,data) {
                return Number(tooltipItem.yLabel).toFixed(2)+' km'
              }
            }
          },
        responsive: true,
        legend: {
          position: 'top',
          display: false
          },
        title: {
          display: false,
          text: 'Distance',
          },
        scales: {
            yAxes: [{
                display: true,
                ticks: {
                steps: 10,
                stepValue: 5,
                beginAtZero: true,
                max: maxDistanceChart,
                }
            }]
        }
    }
});
}
});
});

//Pace chart
const NUMBER_CFG = {decimals: 2};
    $(function () {

    var $paceChart = $("#paceChart");
    $.ajax({
      url: $paceChart.data("url"),
      success: function (data) {

      var ctx = $paceChart[0].getContext("2d");

      new Chart(ctx, {
      type: 'line',
      data: {
          labels: data.labels,
          datasets: [{
              label: 'Pace',
              fill: false,
              data: data.data,
              borderColor: "red",
              borderRadius: '50px',
          }]          
      },
      options: {
          tooltips:{
            callbacks:{
              label: function(tooltipItem,data) {
                return Number(tooltipItem.yLabel).toFixed(2).replace('.','m')+'s'
              }
            }
          },
          responsive: true,
          legend: {
            position: 'top',
            display: false
            },
          title: {
          display: false,
          text: 'Pace',
          },
          scales: {
              yAxes: [{
                  display: true,
                  ticks: {
                    steps: 2,
                    stepValue: 5,
                    min: 5,
                    max: 7.5
                  }
              }]
          },
          tooltip: {
            formatter: false
          }
      }
  });
  }
  });
  });

// Combined chart
$(function () {
  var $combinedChart = $("#combinedChart");
  $.ajax({
    url: $combinedChart.data("url"),
    success: function (data) {
    var ctx = $combinedChart[0].getContext("2d");
    
    var pace = data.pace   
    // Tooltips for pace
    pace_tooltip = []
    for (var i = 0; i < pace.length; i++){
      pace_tooltip.push(pace[i].slice(2).replace('.','m')+'s')
    }

    var bpm = data.bpm
    var distance = data.distance
    // Tooltips for distance
    distance_tooltip = []
    for (var i = 0; i < distance.length; i++){
      distance_tooltip.push(distance[i]+' km')
    }

    var labels = data.labels

    const mixedChart = new Chart(ctx, {
      data: {
        labels: labels,
        datasets: [{
          label: 'Pace',
          type: 'line',
          data: pace,
          borderColor: "red",
          borderRadius: '50px',
          fill: 'none',
          yAxisID: 'A'
        },{
          label: 'BPM',
          type: 'line',
          data: bpm,
          borderColor: "blue",
          // borderRadius: '50px',
          backgroundColor: 'none',
          fill: 'none',
          yAxisID: 'C'
        },{
          label: 'Distance',
          type: 'bar',
          data: distance,
          fill: true,
          borderColor: "red",
          borderRadius: '50px',
          backgroundColor: "orange",
          yAxisID: 'B',
        }],
      },
      options:{
        tooltips:{
            callbacks:{
              label: function(t,d) {
                var xLabel = d.datasets[t.datasetIndex].label;
                var yLabel = t.yLabel;
                if (t.datasetIndex === 0) return xLabel + ': ' + yLabel.toFixed(2).replace('.','m')+'s';
                else if (t.datasetIndex === 1) return xLabel + ': ' + yLabel;
                else if (t.datasetIndex === 2) return xLabel + ': '+ yLabel.toFixed(2) + ' km'
              }
            }
          },
        scales: {
          xAxes: [{
            display: true
          }],
          yAxes: [{
              id: 'A',
              display: true,
              position: 'right',
              ticks:{
                min: 4,
                max: 8,
                }
            },{
              id: 'B',
              display: true,
              position: 'left',
              ticks:{
                min: 0,
                max: 20,
              }
            },{
              id: 'C',
              display: true,
              position: 'right',
              ticks:{
                min: 100,
                max: 160,
              }
            }]
        }
      }
    })
    }
  })
})
</script>

{% endblock content %}
