{% extends 'base.html' %}

{% block title %}Run Log - Overview{% endblock title %}

{% block content %}
<script>
    function refreshPage(){
        window.location.reload();
        }
</script>
<div>
    {% for x in dataTotalsJSON %}
    <br />
    <div class="row row-cols-3 row-cols-md-3 g-4">
        <div class="col">
            <div class="card border border-primary">
                <div class="card-body">
                    <h4 class="card-title">Total Distance</h4>
                    <p class="card-text">{{x.total_distance}} km</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-primary">
                <div class="card-body">
                    <h4 class="card-title">Average Distance</h4>
                    <p class="card-text">{{x.average_distance}} km</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-primary">
                <div class="card-body">
                    <h4 class="card-title">Furthest Distance</h4>
                    <p class="card-text">{{x.furthest_distance}} km</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-primary">
                <div class="card-body">
                    <h4 class="card-title">Average Pace</h4>
                    <p class="card-text">{{x.average_pace}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-primary">
                <div class="card-body">
                    <h4 class="card-title">Fastest Pace</h4>
                    <p class="card-text">{{x.fastest_pace}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-primary">
                <div class="card-body">
                    <h4 class="card-title">Average Runtime</h4>
                    <p class="card-text">{{x.average_runtime}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-primary">
                <div class="card-body">
                    <h4 class="card-title">Average BPM</h4>
                    <p class="card-text">{{x.average_bpm}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-primary">
                <div class="card-body">
                    <h4 class="card-title">To Go</h4>
                    {% if not x.goal %}
                    <p class="card-text">No goal set for this year. <a href="editGoal/{{x.id}}"><button class="btn btn-outline-primary"><i class="fas fa-light fa-trophy"></i> Set Goal</button></a></p>                   
                    {% endif %}
                    {% if x.goal and x.togo > 0 %}
                    <p class="card-text">{{x.togo}} km (goal: {{x.goal}} km)</p>
                    {% endif %}
                    {% if x.goal and x.togo <= 0 %}
                    <p class="card-text">Goal {{x.goal}} km reached ({{x.total_distance}} km run)! <a href="{% url 'goal' %}" class="btn-link"><i style="color:green;" class="fas fa-light fa-trophy"></i></a></p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock content %}