{% extends 'base.html' %}

{% block title %}Run Log - Overview{% endblock title %}

{% block content %}
<script>
    function refreshPage(){
        window.location.reload();
        }
    </script>
<div>
    <br />
    {% for total in dataTotals %}
    <div class="row row-cols-3 row-cols-md-3 g-4">
        <div class="col">
            <div class="card border border-primary">
                <div class="card-body">
                    <h4 class="card-title">Total Distance</h4>
                    <p class="card-text">{{total.total_distance}} km</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-primary">
                <div class="card-body">
                    <h4 class="card-title">Average Distance</h4>
                    <p class="card-text">{{total.average_distance}} km</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-primary">
                <div class="card-body">
                    <h4 class="card-title">Furthest Distance</h4>
                    <p class="card-text">{{total.furthest_distance}} km</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-primary">
                <div class="card-body">
                    <h4 class="card-title">Average Pace</h4>
                    <p class="card-text">{{total.average_pace|time:"H:i:s"}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-primary">
                <div class="card-body">
                    <h4 class="card-title">Fastest Pace</h4>
                    <p class="card-text">{{total.fastest_pace|time:"H:i:s"}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-primary">
                <div class="card-body">
                    <h4 class="card-title">Average Runtime</h4>
                    <p class="card-text">{{total.average_runtime|time:"H:i:s"}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-primary">
                <div class="card-body">
                    <h4 class="card-title">Average BPM</h4>
                    <p class="card-text">{{total.average_bpm}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div id="addRunModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Run</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form method="post" id="add_run_form" class="form">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Date</label>
                            <input type="date" name="run_date" class="form-control" id="run_date">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Run time</label>
                            <input type="text" name="run_time" class="form-control" id="run_time" placeholder="hh:mm:ss">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Distance</label>
                            <input type="text" name="distance" class="form-control" id="distance" placeholder="Distance (km)">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Pace</label>
                            <input type="text" name="pace" class="form-control" id="pace" placeholder="Pace (time/km)">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">BPM</label>
                            <input type="text" name="bpm" class="form-control" id="bpm" placeholder="BPM (average)">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Remarks</label>
                            <input type="text" name="remarks" class="form-control" id="remarks" placeholder="Remarks">
                        </div>
                        <!-- <div> -->
                        <div class="modal-footer">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success" id="btnAdd"><i class="fas fa-solid fa-check"></i></button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>                   
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}