{% extends 'base.html' %}

{% block title %}Run Log - Overview{% endblock title %}

{% block content %}
<h3>Change Password</h3>
<br/>

{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>There was an error in the form. Try again.</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<form method="post">
    {% csrf_token %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
    {{ form.as_p }}
    <input type="submit" value="Update" class="btn btn-primary">
    <!-- <button type="submit">Update</button> -->
  </form>

{% endblock %}